h1 {
  font-family: Calibri;
  color: rgb(9, 95, 66);
  font-size: 40px;
  text-align: center;
}

h2 {
  color:rgb(9, 95, 66);
  font-family: Calibri;
  text-align: center;
}

body {
  background-color:aliceblue
}

p {
  font-family: Calibri;
}

.intro {
  color:rgb(9, 95, 66);
  font-size:20px;
  text-align: center;
}

.RedTitle {
  color:rgb(95, 9, 9);
  font-size:20px;
}

.OrangeTitle {
  color:rgb(95, 51, 9);
  font-size:20px;
}

.YellowTitle {
  color:rgb(95, 94, 9);
  font-size:20px;
}

.GreenTitle {
  color:rgb(9, 95, 80);
  font-size:20px;
}

.BlueTitle {
  color:rgb(9, 49, 95);
  font-size:20px;
}

.PurpleTitle {
  color:rgb(42, 9, 95);
  font-size:20px;
}

.column {
  width: 900px;
  float: left;
  margin-right: 10px;
  margin-left: 20px;
  color: rgb(88, 88, 88);
}

.sidebar {
  width: 35%;
  float: left;
  background-color:rgb(148, 196, 196)
}

.finale {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

.picture {
  width: 20%;
  margin-left: 40%;
}

.namebox {
  width: 40%;
  padding: 10px;
  border: rgb(46, 104, 104);
  border-width: 10px;
  background-color: rgb(178, 226, 235);
  margin-top: 10px;
  margin-left: 30%;
  box-sizing: border-box;
}
